*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-width: 80%;
    margin: auto;
    padding: 1rem;
}

.container h1{
    text-align: center;
    font-size: 2.8rem;
}

p{
    text-align: center;
    font-size: 1.4rem;
}

input, textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 0.8rem auto;
    font-size: 1.6rem;
    display: block;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 14px;
    font-size: 1.3rem;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    height: 100vh;
}